body {
    background-image: url("fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#estudiante {
    height: 380px;
    width: 300px;
}