.action-buttons{
  justify-content: center;
}

.title-card{
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 576px) {
  .action-buttons{
    justify-content: flex-end;
  }
  .title-card {
    justify-content: flex-start;
  }
}